body {
    font-family: "Alegreya", serif;
    margin:0 auto;
}

/* nav */
.nav {
    color:rgb(23, 52, 147);
    height:51px;
    width:100%;
    margin-top:20px;
}

.nav .container {
    min-height: 100px;
    
}

.nav .menu {
    display: flex;
    justify-content:space-around;
    margin-top:-30px;
    margin-right: 40px;
}


.nav .menu {
    float:right;
}

.nav .menu p {
    display:inline-block;
    margin-right: 50px;
    font-size: 18px;
}


@media only screen and (min-width: 421px) and (max-width: 714px) {

    .nav {
        height: 70px;
    }

    .nav .menu {
        
        display: block;
        margin-top:5px;
    }
    .nav .menu p {
        display:inline-block;
        margin-right:10px;
        font-size: 18px;
    }

    .cover .title {
        height: 510px;
    }
    
    .feature-1,
    .feature-2,
    .feature-3 {
        padding:0 10px 0 10px;
    }

    

    .features p {
        visibility: hidden;
    }

    .main {
        margin-top: 100px;
    }

    .delivery {
        height:628px;
    }
    .delivery h2 {
        
        padding: 5px 5px 5px 10px;
    }

}



@media only screen and (max-width:420px){

    body {
        margin:0 auto;
    }

    .nav {
        height: 70px;
    }

    .nav .menu {
        
        display: block;
        margin-top:5px;
    }
    .nav .menu p {
        display:inline-block;
        margin-right:10px;
        font-size: 18px;
    }

    .cover .title {
        height: 510px;
    }
    

    .feature-1,
    .feature-2,
    .feature-3 {
        padding:0 10px 0 10px;
    }

    .features p {
        visibility: hidden;
    }

    .main {
        margin-top: 100px;
    }

    .delivery-1 {
        visibility:hidden;
        
    }
    .delivery h2 {
        text-align:center;
        padding: 5px 5px 5px 10px;
    }

}


/* cover */
.cover {
    height:550px;
    margin:0 auto 0 auto;
}

.cover h1 {
    font-size:50px;
    margin-top:10px;
    padding-top:46px;
    font-size:74px;
    font-family: "Alegreya", serif;
    font-size:bold;
    text-shadow: 3px 3px 5px black;
}

.cover .title h3 {
    font-size:38px;
    margin-top:47px;
    margin-bottom:122px;
    font-family: "Alegreya", serif;
    font-size:bold;
    font-size:42px;
    text-shadow: 3px 3px 5px black;
}


.cover .title a {
    background-color:rgb(62, 112, 5);
    font-size:26px;
    text-decoration: none;
    padding: 14px 10px 14px 10px;
    border-radius:4px;    
    box-shadow: 2px 2px 5px grey;

}

.cover a:link {
    color:#fff;
}

.cover a:visited {
    color:#fff;
}





/* cover/title */
.title {
    text-align:center;
    background-image: url("img/enchant-your-guests.jpg");
    background-size:cover;
    height: 390px; 
    color:#fff; 
}


/* features */
.features {
    background-color: rgb(23, 52, 147);
    color:#fff;
    display: flex;
    flex-direction:row;
    padding-top:10px;
    height:118px;
    line-height: 2px;
    
}

.features h4 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight:normal;
    margin:12px 0 18px 0;
    text-transform: uppercase;
}

.features img {
    width:62px;
    height: auto;
}

.features {
    display: flex;
    justify-content:center;
}

.features .feature-1,
.features .feature-2,
.features .feature-3 {
    width: 20%;
    text-align:center; 

}


/* main */

.main .container {
    margin: 0 auto;
    max-width:1140px;
    display: flex;
    flex-wrap: wrap;
    }

.main .image {
    margin: 5px;
    position:relative;
}

.image h4 {
    width:79%;
    position:absolute;
    padding: 19px 46px 19px 30px;
    bottom:3px;
    background:rgba(0, 0, 0, .4);
    color:#fff;
    font-size:26px;
    font-weight:lighter;   
    font-family: "Open Sans", sans-serif;
    
}

@media only screen and (max-width: 1154px) {

    .main .container {
        width:70%;
    }

    .main .container {
        width:760px;
        margin:auto;
    }
}

@media only screen and (max-width: 770px) {

    .main .container {
        width:380px;
        margin:auto;
    }

    

    
}





/* delivery */
.delivery {
    background-color: rgb(23, 52, 147);
    color:#fff;
    display:inline-block;
    height:418px;
    margin-top:40px;
}

.delivery .container .delivery-1 {
     display: flex;
    flex-direction:row;
    text-align:left;
    margin: 0 30px 0 30px;
}


.delivery h2 {
    padding-left:60px;
    padding-top:30px;
    font-size: 44px;
    margin:27px auto 36px 12px;
}

.delivery h4 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size:18px;
    margin-bottom: 27px;
}

.delivery p {
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    font-size:16px;
    font-weight:lighter;

}

.col-1,
.col-2,
.col-3 {
    margin: 0 20px 20px 20px;
}



